.addBox{
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
    height: 150px;
    width: 100%;
    color: white    ;
    padding: 10px;
    border: 0;
    /* background-color: rgba(0, 0, 255, 0.555); */
    
    background: linear-gradient(-300deg, rgba(0, 0, 255, 0.555), rgba(255, 255, 0, 0.416));
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 0;
}

.questionBox{
    margin-top: 0;
    width: 100%;
    display: flex;
    
    border-radius: 0 0 10px 10px;
    border: 1px solid #a9a9a9;

}