
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5px; */
}



.notificationBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 100%;
    width: 22px;
    height: 22px;
margin-bottom: 15px;
    margin-left:-25px ;
}